

.titleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
.text {
  clear: both;
  color: #fff;
  display: inline-block;
  position: relative;
  margin: 20px;
  text-transform: uppercase;
  overflow: hidden;
  height: 1em;
  padding-right: 0.5em;
  margin-bottom: 0.3em;
  animation: text-reveal 1000ms forwards;
  font-weight: bolder;
}
.text:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #444;
  animation: text-reveal-aft 1000ms forwards;
}

@keyframes text-reveal {
  50% {
    color: #fff;
  }
  51% {
    color: #444;
  }
  100% {
    color: #444;
  }
}
@keyframes text-reveal-aft {
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 0;
    left: 100%;
  }
}