@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial'
}
body{
  background-color: #1e1e29;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 5px;
  height: 100vh;
  background-color: #090911;
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 5px;
  overflow-y: auto;
}
.navbar-option {
  height: 40px;
  color: #5f5f70;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
}
.navbar-option:hover {
  background-color: #13131b;
  color: #fff;
  cursor: pointer;
}
.navbar-option.active{
  background-color: #13131b;
  color: #fff;
}
.button-purple{
  background-color: #892fff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.preview-left {
  display: flex;
  gap: 10px;
}
.panel {
  margin-top: 20px;
  border: 1px solid #ddd;
  overflow-y: auto;
  height: 50vh;
  width: 30vw;
  background-color: #13131b;
  color: #cdc8c1;
}
.media-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}
.media-container > .media-item {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  video,
  audio,
  img {
    width: 100px;
    aspect-ratio: 16/9;
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.timeline {
  position: absolute;
  border: 1px solid #28190e;
  height: 30vh;
  left: 10vw; /* Align with the navbar */
  width: calc(100vw - 10vw); /* Adjust based on navbar width */
  overflow-y: auto;
  overflow-x: hidden;
}
.controls {
  width: 100%;
  border: 1px solid #e9dede;
  top: 0;
  position: relative;
}
.timeline-header {
  position: relative;
  height: 30px;
  background-color: #13131b;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.tick {
  position: absolute;
  top: 0;
  width: 1px;
  height: 50%;
  background-color: #666;
}

.track {
  /* display: block; */
  /* align-items: center; */
  height: 40px;
  border: 2px solid #1d1d28;
  white-space: nowrap;
  overflow-x: auto;
  min-width: 100%;
}

.video-player {
  width: 20vw;
  background-color: #0f0f0f;
  position: relative;
  overflow: hidden;
}

@media (aspect-ratio: 9/16), (aspect-ratio: 3/4) {
  .video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (aspect-ratio: 4/3) {
  .video-player {
    width: 30vw; /* Slightly reduce width for 4:3 aspect ratio */
  }
}

@media (aspect-ratio: 16/9) {
  .video-player {
    width: 40vw; /* Keep default width for 16:9 */
  }
}

.video-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: 8vh;
  position: absolute;
  left: 50vw;
  gap: 10px;
}
.video-player-controls {
  display: flex;
  gap: 30px;
  color: #cccccc;
}
.video-player-controls button {
  background: transparent;
  border: none;
  color: #00ffff; /* cyan play/pause */
  cursor: pointer;
}
.canvas-1 {
  right: 5vw;
  width: 30vw;
  aspect-ratio: 16/9;
  top: 10vh;
}

.slidecontainer {
  height: 40vh;
  width: 30vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  overflow-y: auto;
  color: #cdc8c1;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.all-tracks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  min-width: 100%;
  position: relative;
  background-color: #13131b;
}
.video-effect-glitch {
  position: relative;
  filter: contrast(1.5) brightness(1.2);
}

.video-effect-glitch::before,
.video-effect-glitch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  mix-blend-mode: difference;
  opacity: 0.8;
  transform: translateX(-2px);
}

.video-effect-glitch::after {
  transform: translateX(2px);
  mix-blend-mode: lighten;
}

.video-effect-blur {
  filter: blur(3px) brightness(1.3) saturate(1.5);
}

.video-effect-cartoon {
  filter: saturate(2) contrast(1.5);
}

.video-effect-vhs {
  filter: sepia(0.8) contrast(1.2) brightness(0.9);
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.animate__scale-up-center {
  animation: scale-up-center 0.4s;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.animate__scale-up-top-left {
  animation: scale-up-top-left 0.5s;
}
@keyframes scale-up-top-left {
  0% {
    transform: scale(0.5);
    transform-origin: top left;
  }
  100% {
    transform: scale(1);
    transform-origin: top left;
  }
}
.animate__scale-up-horizontal-center {
  animation: scale-up-horizontal-center 0.5s;
}
@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.animate__scale-up-vertical-center {
  animation: scale-up-vertical-center 0.5s;
}
@keyframes scale-up-vertical-center {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.animate__scale-up-horizontal-left {
  animation: scale-up-horizontal-left 0.4s;
}
@keyframes scale-up-horizontal-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: left center;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left center;
  }
}
.project-actions {
  display: flex;
  float: right;
  right: 10%;
  gap: 15px;
  margin-top: 10px;
  position: absolute;
  top: 0;
}

/* project-card */
/* From Uiverse.io by Pravins01 */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #b02594;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


.project-card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.project-card > a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card > a > .date {
  font-size: 14px;
  color: #ddd;
}
.project-card:hover::after {
  filter: blur(30px);
}

.project-card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.menu-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.menu-container > .menu > button{
  cursor: pointer;
  width: 100%;
}
.menu-container > .menu > button:hover{
  background-color: #ddd;
}
.ellipsis-icon {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 25px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dialog button {
  margin: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
/* From Uiverse.io by vinodjangid07 */
.cookies-card {
  width: 380px;
  height: fit-content;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.cookie-heading {
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.cookie-para {
  font-size: 15px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}
.button-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.cookie-button {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.accept {
  background-color: rgb(34, 34, 34);
  color: white;
}
.reject {
  background-color: #ececec;
  color: rgb(34, 34, 34);
}
.accept:hover {
  background-color: rgb(0, 0, 0);
}
.reject:hover {
  background-color: #ddd;
}
.exit-button {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.exit-button:hover {
  background-color: #ddd;
  color: white;
}
.svgIconCross {
  height: 10px;
}
.cookies-overlay {
  position: fixed;
  inset: 0; /* shorthand for top, right, bottom, left: 0 */
  background-color: rgba(0, 0, 0, 0.3); /* faded background */
  backdrop-filter: blur(5px); /* blurred background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensure it’s above other content */
}
