.line-wipe-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
}
.playing {
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}
.line-wipe {
  position: absolute;
  width: 0%;
  height: 100%;
  background: rgb(145, 5, 203);
  background: linear-gradient(
    90deg,
    rgba(145, 5, 203, 1) 0%,
    rgba(245, 36, 243, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  animation: line-wipe-in 0.6s ease-out forwards,
    line-wipe-out 0.6s ease-in forwards 2s;
  animation-play-state: inherit;
}

/* Left to Right Wipe */
@keyframes line-wipe-in {
  from {
    width: 0%;
    left: 0;
  }
  to {
    width: 100%;
    left: 0;
  }
}

@keyframes line-wipe-out {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 100%;
  }
}
