* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  gap: 5px;
  height: 100vh;
  background-color: #fcf8f8;
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 5px;
  overflow-y: auto;
}
.navbar-option {
  height: 40px;
  color: #28190e;
  background-color: #fcefef;
  border-radius: 5px;
  border: 1px solid;
}
.navbar-option:hover {
  background-color: #e9dede;
  cursor: pointer;
}
.preview-left {
  display: flex;
  gap: 10px;
}
.panel {
  margin-top: 20px;
  border: 1px solid #ddd;
  overflow-y: auto;
  height: 50vh;
  width: 40vw;
}
.media-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}
.media-container > .media-item {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  width: 130px;

  video,
  audio,
  img {
    width: 100px;
    height: 80px;
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.timeline {
  bottom: 0;
  position: absolute;
  border: 1px solid #28190e;
  height: 30vh;
  margin-left: 10vw;
  overflow-y: auto;
  overflow-x: auto;
  width: 90vw;
}
.controls {
  width: 100%;
  border: 1px solid #e9dede;
  top: 0;
  position: relative;
}
.track {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #ca1e1e;
  white-space: nowrap;
  overflow-x: auto;
}

.video-player {
  right: 5vw;
  width: 40vw;
  aspect-ratio: 16/9;
  background-color: #0f0f0f;
}
.video-preview {
  display: flex;
  flex-direction: column;
  top: 10vh;
  position: absolute;
  right: 5vw;
  gap: 10px;
  align-items: center;
}
.video-player-controls {
  display: flex;
  gap: 30px;
}
.canvas-1 {
  right: 5vw;
  width: 30vw;
  aspect-ratio: 16/9;
  top: 10vh;
}

.slidecontainer {
  height: 40vh;
  width: 30vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding:10px;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.all-tracks{
  display: flex;
  flex-direction: column;
  gap: 10px;
}